$primary-color: #007bff;
$primary-color1: #0056b3;
$secondary-color: #6c757d;
$success-color: #4caf50;
$success-color2: #45a049;
$danger-color: #f44336;
$danger-color2: #e53935;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #ffffff;
$light-color1: #f0f0f0;
$light-color2: #777777;
$light-color3: #f4f4f4;
$light-color4: #f8f9fa;
$light-color5: #ddd;
$light-color6: #f3f3f3;
$light-color7: #f9f9f9;
$light-color8: #ccc;
$dark-color: #333333;
$dark-color1: #999999;
$dark-color2: #666;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ebe2e2;
}
